.search {
    margin-left: 35%;
    width: 30%;
}

.filter {
    margin-left: 30%;
}

.textclass {
    margin-left: 45%;
    margin-top: 2%;
    color: blue
}

.all {
    margin-left: 10%;
    margin-right: 10%;
}